extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.md-5 Sobre nosotros
        .row.md-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut viverra risus dolor, in cursus nisl tristique vitae. Nulla sit amet leo arcu. Aenean ultrices, odio molestie dapibus faucibus, nulla tellus convallis neque, ut consequat nunc dui at turpis.  
                p Sed dignissim molestie auctor. Donec ullamcorper nisl id sem porttitor varius. Suspendisse fermentum dolor a quam porta bibendum. Suspendisse potenti. Etiam luctus lectus ut nisi congue, non cursus quam commodo. Nunc ut purus egestas, eleifend lectus at, malesuada nibh. 
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes

    .descuento
        .container 
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2.500 USD 

    .container 
        h2.mt-5.text-center Testimoniales